@using MyApp.Shared.Services
@inject INavBarService NavBarService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MyApp.Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        @foreach (var item in NavBarService.GetNavBarItems())
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@item.Href" Match="NavLinkMatch.All">
                    <span class="@item.Class" aria-hidden="true"></span> @item.Description
                </NavLink>

                @if (item.ChildList != null)
                {
                    <ul class="nav flex-column">
                        @foreach (var itemChild in item.ChildList)
                        {
                            <li class="px-3 nav-item">
                                <NavLink class="nav-link" href="@itemChild.Href" Match="NavLinkMatch.All">
                                    <span class="@itemChild.Class" aria-hidden="true"></span> @itemChild.Description
                                </NavLink>
                            </li>
                        }
                    </ul>
                }
            </div>
        }
    </nav>
</div>
